# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/weekend09
/macao11
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

storage
uploads

demo
新增資料夾 (2)/spot_play.jpg
新增資料夾 (2)/index.jpg
新增資料夾 (2)/__MACOSX/._volume-off.svgz
新增資料夾 (2)/volume-on.svgz
新增資料夾 (2)/volume-off.svgz
新增資料夾 (2)/index_m.jpg
新增資料夾 (2)/future-girl-m.jpg
新增資料夾 (2)/__MACOSX/._volume-on.svgz
新增資料夾 (2)/0702.zip
新增資料夾 (2)/time-line-content.gif
新增資料夾 (2)/future-girl.jpg
新增資料夾 (2)/__MACOSX/._time-line-content.gif
react_component
decorte09/posting.php
decorte09/molly/posting.php
decorte09/molly/message.php
decorte09/molly/js/slideshow.js
decorte09/molly/images/m/video/video-title-1.png
decorte09/molly/images/m/video/video-shape.jpg
decorte09/molly/images/m/video/video-heart.png
decorte09/molly/images/m/video/edit-shape.jpg
decorte09/molly/images/m/video/edit-realmolly.png
decorte09/molly/images/m/video/edit-more.png
decorte09/molly/images/m/video/edit-mollypic.png
decorte09/molly/images/m/video/edit-h2.png
decorte09/molly/images/m/video/edit-arr.png
decorte09/molly/images/m/tarot/tarot-title-2.png
decorte09/molly/images/m/tarot/tarot-title-1.png
decorte09/molly/images/m/tarot/tarot-shape.png
decorte09/molly/images/m/tarot/tarot-rect-2.png
decorte09/molly/images/m/tarot/tarot-rect-1.png
decorte09/molly/images/m/tarot/tarot-pro.png
decorte09/molly/images/m/tarot/tarot-heart.png
decorte09/molly/images/m/anni/pro-08-02.jpg
decorte09/molly/images/m/anni/pro-08-01.jpg
decorte09/molly/images/m/anni/pro-07-02.jpg
decorte09/molly/images/m/anni/pro-07-01.jpg
decorte09/molly/images/m/anni/pro-06-02.jpg
decorte09/molly/images/m/anni/pro-06-01.jpg
decorte09/molly/images/m/anni/pro-05-03.jpg
decorte09/molly/images/m/anni/pro-05-02.jpg
decorte09/molly/images/m/anni/pro-05-01.jpg
decorte09/molly/images/m/anni/pro-04-02.jpg
decorte09/molly/images/m/anni/pro-04-01.jpg
decorte09/molly/images/m/anni/pro-03-01.jpg
decorte09/molly/images/m/anni/pro-02-01.jpg
decorte09/molly/images/m/anni/pro-01-02.jpg
decorte09/molly/images/m/anni/pro-01-01.jpg
decorte09/molly/images/m/anni/edit-more.png
decorte09/molly/images/d/video/edit-shape.jpg
decorte09/molly/images/d/video/edit-realmolly.png
decorte09/molly/images/d/video/edit-more.png
decorte09/molly/images/d/video/edit-more-h.png
decorte09/molly/images/d/video/edit-mollypic.png
decorte09/molly/images/d/video/edit-h2.png
decorte09/molly/images/d/video/edit-arr.png
decorte09/molly/images/d/tarot/tarot-title-2.png
decorte09/molly/images/d/tarot/tarot-title-1.png
decorte09/molly/images/d/tarot/tarot-shape.png
decorte09/molly/images/d/tarot/tarot-rect.png
decorte09/molly/images/d/tarot/tarot-rect-2.png
decorte09/molly/images/d/tarot/tarot-rect-1.png
decorte09/molly/images/d/tarot/tarot-pro.png
decorte09/molly/images/d/tarot/tarot-heart.png
decorte09/molly/images/d/tarot/tarot-cove.jpg
decorte09/molly/images/d/tarot/tarot-btn.png
decorte09/molly/images/d/tarot/tarot-btn-arr.png
decorte09/molly/images/d/tarot/tarot-bg.jpg
decorte09/molly/images/d/tarot/tarot-beat.png
decorte09/molly/images/d/tarot/tarot-arr.png
decorte09/molly/images/d/tarot/tarot-05.jpg
decorte09/molly/images/d/tarot/tarot-04.jpg
decorte09/molly/images/d/tarot/tarot-03.jpg
decorte09/molly/images/d/tarot/tarot-02.jpg
decorte09/molly/images/d/tarot/tarot-01.jpg
decorte09/molly/images/d/pro/pro-title-3.png
decorte09/molly/images/d/pro/pro-title-2.png
decorte09/molly/images/d/pro/pro-title-1.png
decorte09/molly/images/d/pro/pro-pro.png
decorte09/molly/images/d/pro/pro-play.png
decorte09/molly/images/d/pro/pro-bg.jpg
decorte09/molly/images/d/data/data-heart.png
decorte09/molly/images/d/anni/pro-03-01.jpg
decorte09/molly/images/d/anni/pro-02-01.jpg
decorte09/molly/images/d/anni/pro-01-02.jpg
decorte09/molly/images/d/anni/pro-01-01.jpg
decorte09/molly/images/d/anni/edit-more.png
decorte09/molly/images/d/anni/edit-more-h.png
decorte09/molly/images/d/anni/anni-title-2.png
decorte09/molly/images/d/anni/anni-title-1.png
decorte09/molly/images/d/anni/anni-editpic.jpg
decorte09/molly/images/d/anni/anni-edit.png
decorte09/molly/images/d/anni/anni-bg.jpg
decorte09/molly/images/d/anni/anni-arr-r.png
decorte09/molly/images/d/anni/anni-arr-l.png
decorte09/molly/images/close.png
decorte09/molly/images/check.jpg
decorte09/molly/exchange2.php
decorte09/js/mobile.js
decorte09/js/master.js
decorte09/js/lightbox.js
decorte09/js/jquery.scrollme.min.js
decorte09/js/jquery.scrollme.js
decorte09/js/jquery.easing.min.js
decorte09/js/jillmain.js
decorte09/js/desktop.js
decorte09/index.html
decorte09/includes/options2.php
decorte09/includes/options1.php
decorte09/includes/functions.php
decorte09/includes/email.html
decorte09/images/note-title.png
decorte09/images/m/tarot/tarot-title-2.png
decorte09/images/m/tarot/tarot-title-1.png
decorte09/images/m/pro/pro-bg.jpg
decorte09/images/m/kv/kv-web.png
decorte09/images/m/kv/kv-title-arr.png
decorte09/images/m/kv/kv-title-2.png
decorte09/images/m/kv/kv-title-1.png
decorte09/images/m/kv/kv-shop.png
decorte09/images/m/kv/kv-notice.jpg
decorte09/images/m/kv/kv-notice-arr.png
decorte09/images/m/kv/kv-logo.png
decorte09/images/m/kv/kv-ig.png
decorte09/images/m/kv/kv-fb.png
decorte09/images/m/kv/kv-bg.jpg
decorte09/images/m/kv/kv-bg-2.jpg
decorte09/images/m/kv/kv-bg-1.jpg
decorte09/images/m/kol/kol5.png
decorte09/images/m/kol/kol4.png
decorte09/images/m/kol/kol3.png
decorte09/images/m/anni/anni-title-1.png
decorte09/images/m/anni/anni-editpic.jpg
decorte09/images/m/anni/anni-edit.png
decorte09/images/m/anni/anni-edit-1.png
decorte09/images/m/anni/anni-bg.jpg
decorte09/images/m/anni/anni-arr-r.png
decorte09/images/m/anni/anni-arr-l.png
decorte09/images/fb.jpg
decorte09/images/exchange-bg.jpg
decorte09/images/d/tarot/tarot-title-2.png
decorte09/images/d/tarot/tarot-title-1.png
decorte09/images/d/tarot/tarot-shape.png
decorte09/images/d/tarot/tarot-rect.png
decorte09/images/d/tarot/tarot-rect-2.png
decorte09/images/d/tarot/tarot-rect-1.png
decorte09/images/d/tarot/tarot-pro.png
decorte09/images/d/anni/pro-07-02.jpg
decorte09/images/d/anni/pro-07-01.jpg
decorte09/images/d/anni/pro-06-02.jpg
decorte09/images/d/anni/pro-06-01.jpg
decorte09/images/d/anni/pro-05-03.jpg
decorte09/images/d/anni/pro-05-02.jpg
decorte09/images/d/anni/pro-05-01.jpg
decorte09/images/d/anni/pro-04-02.jpg
decorte09/images/d/anni/pro-04-01.jpg
decorte09/images/d/anni/pro-03-01.jpg
decorte09/images/d/anni/pro-02-01.jpg
decorte09/images/d/anni/pro-01-02.jpg
decorte09/images/d/anni/pro-01-01.jpg
decorte09/images/d/anni/edit-more.png
decorte09/images/d/anni/edit-more-h.png
decorte09/images/d/anni/anni-title-2.png
decorte09/images/d/anni/anni-title-1.png
decorte09/images/d/anni/anni-editpic.jpg
decorte09/images/d/anni/anni-edit.png
decorte09/images/d/anni/anni-bg.jpg
decorte09/images/d/anni/anni-arr-r.png
decorte09/images/d/anni/anni-arr-l.png
decorte09/images/close.png
decorte09/images/check.jpg
decorte09/images/EDM-s-1ss.gif
decorte09/images/EDM-s-1.gif
decorte09/images/EDM-btn.png
decorte09/exchange2.php
decorte09/exchange1.php
decorte09/css/style.css
decorte09/css/style-m.css
decorte09/css/message.css
decorte09/css/master.css
decorte09/css/lightbox.css
decorte09/css/footer.css
decorte09/css/exchange.css
decorte09/css/canvas.css
decorte09/common.php
decorte09/_mobile.php
decorte09/_leading.php
decorte09/_landing.php
decorte09/_exchange.php
decorte09/_desktop.php
decorte09/molly/js/mobile.js
decorte09/molly/js/master.js
decorte09/molly/js/lightbox.js
decorte09/molly/js/jquery.scrollme.min.js
decorte09/molly/js/jquery.scrollme.js
decorte09/molly/js/jquery.easing.min.js
decorte09/molly/js/jillmain.js
decorte09/molly/js/desktop.js
decorte09/molly/index.php
decorte09/molly/includes/options2.php
decorte09/molly/includes/options1.php
decorte09/molly/includes/functions.php
decorte09/molly/includes/email.html
decorte09/molly/images/note-title.png
decorte09/molly/images/m/video/video-title-3.png
decorte09/molly/images/m/video/video-title-2.png
decorte09/molly/images/m/tarot/tarot-cove.jpg
decorte09/molly/images/m/tarot/tarot-btn.png
decorte09/molly/images/m/tarot/tarot-btn-arr.png
decorte09/molly/images/m/tarot/tarot-bg.jpg
decorte09/molly/images/m/tarot/tarot-beat.png
decorte09/molly/images/m/tarot/tarot-arr.png
decorte09/molly/images/m/tarot/tarot-01.jpg
decorte09/molly/images/m/pro/pro-title-3.png
decorte09/molly/images/m/pro/pro-title-2.png
decorte09/molly/images/m/pro/pro-title-1.png
decorte09/molly/images/m/pro/pro-pro.png
decorte09/molly/images/m/pro/pro-bg.jpg
decorte09/molly/images/m/kv/kv-web.png
decorte09/molly/images/m/kv/kv-title-arr.png
decorte09/molly/images/m/kv/kv-title-4.png
decorte09/molly/images/m/kv/kv-title-3.png
decorte09/molly/images/m/kv/kv-title-2.png
decorte09/molly/images/m/kv/kv-title-1.png
decorte09/molly/images/m/kv/kv-shop.png
decorte09/molly/images/m/kv/kv-notice.jpg
decorte09/molly/images/m/kv/kv-notice-arr.png
decorte09/molly/images/m/kv/kv-logo.png
decorte09/molly/images/m/kv/kv-ig.png
decorte09/molly/images/m/kv/kv-fb.png
decorte09/molly/images/m/kv/kv-bg.jpg
decorte09/molly/images/m/data/schedule-more.png
decorte09/molly/images/m/data/flash.png
decorte09/molly/images/m/data/data-pd.png
decorte09/molly/images/m/data/data-heart.png
decorte09/molly/images/m/data/data-box.png
decorte09/molly/images/m/data/close.png
decorte09/molly/images/m/data/anni-date.jpg
decorte09/molly/images/m/anni/pro-08-03.jpg
decorte09/molly/images/m/anni/anni-title-2.png
decorte09/molly/images/m/anni/anni-title-1.png
decorte09/molly/images/m/anni/anni-editpic.jpg
decorte09/molly/images/m/anni/anni-edit.png
decorte09/molly/images/m/anni/anni-edit-1.png
decorte09/molly/images/m/anni/anni-bg.jpg
decorte09/molly/images/m/anni/anni-arr-r.png
decorte09/molly/images/m/anni/anni-arr-l.png
decorte09/molly/images/fb.jpg
decorte09/molly/images/exchange-bg.jpg
decorte09/molly/images/d/video/video-title-3.png
decorte09/molly/images/d/video/video-title-2.png
decorte09/molly/images/d/video/video-title-1.png
decorte09/molly/images/d/video/video-title-1-or.png
decorte09/molly/images/d/video/video-shape.jpg
decorte09/molly/images/d/video/video-play.png
decorte09/molly/images/d/video/video-heart.png
decorte09/molly/images/d/kv/kv-web.png
decorte09/molly/images/d/kv/kv-title-arr.png
decorte09/molly/images/d/kv/kv-title-4.png
decorte09/molly/images/d/kv/kv-title-3.png
decorte09/molly/images/d/kv/kv-title-2.png
decorte09/molly/images/d/kv/kv-title-1.png
decorte09/molly/images/d/kv/kv-shop.png
decorte09/molly/images/d/kv/kv-notice.jpg
decorte09/molly/images/d/kv/kv-notice-arr.png
decorte09/molly/images/d/kv/kv-logo.png
decorte09/molly/images/d/kv/kv-ig.png
decorte09/molly/images/d/kv/kv-fb.png
decorte09/molly/images/d/kv/kv-bg.jpg
decorte09/molly/images/d/data/schedule-more.png
decorte09/molly/images/d/data/flash.png
decorte09/molly/images/d/data/data-pd.png
decorte09/molly/images/d/data/data-box.png
decorte09/molly/images/d/data/data-bg.jpg
decorte09/molly/images/d/data/close.png
decorte09/molly/images/d/data/anni-date.jpg
decorte09/molly/images/d/anni/pro-08-03.jpg
decorte09/molly/images/d/anni/pro-08-02.jpg
decorte09/molly/images/d/anni/pro-08-01.jpg
decorte09/molly/images/d/anni/pro-07-02.jpg
decorte09/molly/images/d/anni/pro-07-01.jpg
decorte09/molly/images/d/anni/pro-06-02.jpg
decorte09/molly/images/d/anni/pro-06-01.jpg
decorte09/molly/images/d/anni/pro-05-03.jpg
decorte09/molly/images/d/anni/pro-05-02.jpg
decorte09/molly/images/d/anni/pro-05-01.jpg
decorte09/molly/images/d/anni/pro-04-02.jpg
decorte09/molly/images/d/anni/pro-04-01.jpg
decorte09/molly/exchange1.php
decorte09/molly/css/style.css
decorte09/molly/css/style-m.css
decorte09/molly/css/message.css
decorte09/molly/css/master.css
decorte09/molly/css/lightbox.css
decorte09/molly/css/footer.css
decorte09/molly/css/exchange.css
decorte09/molly/css/canvas.css
decorte09/molly/common.php
decorte09/molly/_mobile.php
decorte09/molly/_leading.php
decorte09/molly/_landing.php
decorte09/molly/_exchange.php
decorte09/molly/_desktop.php
decorte09/message.php
decorte09/js/slideshow.js
decorte09/images/m/tarot/tarot-shape.png
decorte09/images/m/tarot/tarot-rect-2.png
decorte09/images/m/tarot/tarot-rect-1.png
decorte09/images/m/tarot/tarot-pro.png
decorte09/images/m/tarot/tarot-heart.png
decorte09/images/m/tarot/tarot-cove.jpg
decorte09/images/m/tarot/tarot-btn.png
decorte09/images/m/tarot/tarot-btn-arr.png
decorte09/images/m/tarot/tarot-bg.jpg
decorte09/images/m/tarot/tarot-beat.png
decorte09/images/m/tarot/tarot-arr.png
decorte09/images/m/tarot/tarot-01.jpg
decorte09/images/m/pro/pro-title-3.png
decorte09/images/m/pro/pro-title-2.png
decorte09/images/m/pro/pro-title-1.png
decorte09/images/m/pro/pro-pro.png
decorte09/images/m/kol/kol2.png
decorte09/images/m/kol/kol1.png
decorte09/images/m/kol/kol-title-2.png
decorte09/images/m/kol/kol-title-1.png
decorte09/images/m/kol/kol-more.png
decorte09/images/m/kol/kol-arr-r.png
decorte09/images/m/kol/kol-arr-l.png
decorte09/images/m/data/schedule-more.png
decorte09/images/m/data/data-pd.png
decorte09/images/m/data/data-heart.png
decorte09/images/m/data/data-box.png
decorte09/images/m/data/data-bg.jpg
decorte09/images/m/data/close.png
decorte09/images/m/data/anni-date.jpg
decorte09/images/m/anni/pro-08-03.jpg
decorte09/images/m/anni/pro-08-02.jpg
decorte09/images/m/anni/pro-08-01.jpg
decorte09/images/m/anni/pro-07-02.jpg
decorte09/images/m/anni/pro-07-01.jpg
decorte09/images/m/anni/pro-06-02.jpg
decorte09/images/m/anni/pro-06-01.jpg
decorte09/images/m/anni/pro-05-03.jpg
decorte09/images/m/anni/pro-05-02.jpg
decorte09/images/m/anni/pro-05-01.jpg
decorte09/images/m/anni/pro-04-02.jpg
decorte09/images/m/anni/pro-04-01.jpg
decorte09/images/m/anni/pro-03-01.jpg
decorte09/images/m/anni/pro-02-01.jpg
decorte09/images/m/anni/pro-01-02.jpg
decorte09/images/m/anni/pro-01-01.jpg
decorte09/images/m/anni/edit-more.png
decorte09/images/m/anni/anni-title-2.png
decorte09/images/d/tarot/tarot-cove.jpg
decorte09/images/d/tarot/tarot-btn.png
decorte09/images/d/tarot/tarot-btn-arr.png
decorte09/images/d/tarot/tarot-bg.jpg
decorte09/images/d/tarot/tarot-beat.png
decorte09/images/d/tarot/tarot-arr.png
decorte09/images/d/tarot/tarot-05.jpg
decorte09/images/d/tarot/tarot-04.jpg
decorte09/images/d/tarot/tarot-03.jpg
decorte09/images/d/tarot/tarot-02.jpg
decorte09/images/d/tarot/tarot-01.jpg
decorte09/images/d/pro/pro-title-3.png
decorte09/images/d/pro/pro-title-2.png
decorte09/images/d/pro/pro-title-1.png
decorte09/images/d/pro/pro-pro.png
decorte09/images/d/pro/pro-play.png
decorte09/images/d/pro/pro-bg.jpg
decorte09/images/d/kv/kv-web.png
decorte09/images/d/kv/kv-title-arr.png
decorte09/images/d/kv/kv-title-3.png
decorte09/images/d/kv/kv-title-2.png
decorte09/images/d/kv/kv-title-1.png
decorte09/images/d/kv/kv-shop.png
decorte09/images/d/kv/kv-notice.jpg
decorte09/images/d/kv/kv-notice-arr.png
decorte09/images/d/kv/kv-logo.png
decorte09/images/d/kv/kv-ig.png
decorte09/images/d/kv/kv-fb.png
decorte09/images/d/kv/kv-bg.jpg
decorte09/images/d/kv/kv-bg-2.jpg
decorte09/images/d/kv/kv-bg-1.jpg
decorte09/images/d/kol/kol5.png
decorte09/images/d/kol/kol4.png
decorte09/images/d/kol/kol3.png
decorte09/images/d/kol/kol2.png
decorte09/images/d/kol/kol1.png
decorte09/images/d/kol/kol-title-2.png
decorte09/images/d/kol/kol-title-1.png
decorte09/images/d/kol/kol-more.png
decorte09/images/d/kol/kol-more-h.png
decorte09/images/d/data/schedule-more.png
decorte09/images/d/data/data-pd.png
decorte09/images/d/data/data-box.png
decorte09/images/d/data/data-bg.jpg
decorte09/images/d/data/close.png
decorte09/images/d/data/anni-date.jpg
decorte09/images/d/anni/pro-08-03.jpg
decorte09/images/d/anni/pro-08-02.jpg
decorte09/images/d/anni/pro-08-01.jpg
